:host {
  display: flex;
  pointer-events: none;
}

:host([data-is-side="false"]) {
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1rem;

  ::ng-deep app-combat-notification {
    height: 100%;
    width: min(15rem, 20vw);
  }
}

:host([data-is-side="true"]) {
  justify-content: center;
  flex-direction: column;
  gap: 20%;

  ::ng-deep app-combat-notification {
    width: clamp(16rem, 100%, 20rem);
    height: 12%;
  }
}
