:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  pointer-events: none;
}

:host([data-mode='TOP']) {
  align-items: stretch;
  justify-content: flex-start;
}

:host([data-mode='SIDE']) {
  justify-content: center;
}

:host([data-mode='SIDE'][data-owner='ME']) {
  align-items: flex-end;
}

:host([data-mode='SIDE'][data-owner='OPPONENT']) {
  align-items: flex-start;
}
