:host {
  display: flex;
  pointer-events: none;
}

:host([data-is-side="false"]) {
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
}

:host([data-is-side="true"]) {
  justify-content: center;
  flex-direction: column;
  gap: 20%;
}

:host([data-is-side="false"][data-is-mine="true"]) {
  justify-content: flex-start;
}

:host([data-is-side="false"][data-is-mine="false"]) {
  justify-content: flex-end;
}
