<div class="slot-wrapper" (click)="onClick()">
  @if (slotIcon) {
    <img
      [src]="slotIcon"
      alt=""
      aria-hidden="true"
      class="slot-icon"
      [class.rotate-90]="isColumnIcon"
      [class.icon-box]="isBoxIcon"
      [class.icon-diffuse]="!isBoxIcon"
    >
  }

  <div class="slot" [class.occupied]="!!pupIcon">
  </div>
  @if (countdownHelper.currentAngle() > 0 || countdownHelper.transitionDuration() !== '0s') {
    <div
      class="countdown-overlay"
      [style.--angle]="countdownHelper.currentAngle() + 'deg'"
      [style.transition-duration]="countdownHelper.transitionDuration()"
    ></div>
  }
  @if (pupIcon) {
    <img [src]="pupIcon" alt="Pup" class="pup-icon">
  }

  @if (slot?.locked) {
    <img
      src="/assets/slots/icons/forbidden.svg"
      alt=""
      aria-hidden="true"
      class="locked-overlay"
    >
  }

  @if (level !== null) {
    <div class="level">{{ level }}</div>
  }
</div>
