<div class="board">
  @for (i of indices; track i) {
    <app-cell-model
      [model]="getCellModel(i)"
      [index]="i"
      (selected)="onCellSelected($event)"
      [class.selected]="selected() === i"
      [class.highlight-related]="isRelatedCell(i)"
      [class.highlight-same-number]="isSameNumberCell(i)"
      [selectedValue]="selected() !== null ? getCellModel(selected()!).getDisplayValue() : 0"
    ></app-cell-model>
  }
  @if (cooldownHelper.currentAngle() > 0 || cooldownHelper.transitionDuration() !== '0s') {
    <div
      class="global-cooldown-overlay"
      [style.--angle]="cooldownHelper.currentAngle() + 'deg'"
      [style.transition-duration]="cooldownHelper.transitionDuration()"
    ></div>
  }
</div>
