@use '../../../globals' as *;

:host {
  display: flex;
  width: 100%;
  height: 100%;
  container-type: size;
}

.board {
  display: grid;
  width: min(100cqw, 100cqh);
  height: min(100cqw, 100cqh);
  margin: auto;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  position: relative; /* for overlay lines */
  border: 4px solid var(--board-border);
  box-shadow: 0 0 20px var(--board-border);
  backdrop-filter: blur(10px);
  background: rgba(10, 10, 18, 0.7);
  box-sizing: border-box;
}

.global-cooldown-overlay {
  @extend %cooldown-overlay-base;
  background: conic-gradient(from 0deg, var(--cd-global) 0deg var(--angle), transparent var(--angle) 360deg);
  z-index: 2; /* Above cells */
}