<div
  class="board"
  [attr.data-threat-active]="isThreatActive"
  [attr.data-threat-global]="isThreatGlobal"
>
  @for (i of indices; track i) {
    <app-cell-model
      [model]="getCellModel(i)"
      [index]="i"
      [isMe]="isMe"
      (selected)="onCellSelected($event)"
      [class.selected]="selected() === i"
      [class.highlight-related]="isRelatedCell(i)"
      [class.highlight-same-number]="isSameNumberCell(i)"
      [class.threat-cell]="isThreatCell(i)"
      [class.defuse-row-global]="hasDefuseObjective(0)"
      [class.defuse-col-global]="hasDefuseObjective(1)"
      [class.defuse-box-global]="hasDefuseObjective(2)"
      [selectedValue]="selected() !== null ? getCellModel(selected()!).getDisplayValue() : 0"
    ></app-cell-model>
  }
  @if (cooldownHelper.currentAngle() > 0 || cooldownHelper.transitionDuration() !== '0s') {
    <div
      class="global-cooldown-overlay"
      [style.--angle]="cooldownHelper.currentAngle() + 'deg'"
      [style.transition-duration]="cooldownHelper.transitionDuration()"
    ></div>
  }
</div>
