.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  container-type: size;
  gap: 10%;
  box-sizing: border-box;
}
