app-utility-button {
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
