<!--Hud at the top-->
<app-duel-hud-top
	[class.combat-side-mode]="isCombatSideMode()"
	[boardProgress1]="gameState.getPlayerBoard(gameState.myID).progress"
	[boardProgress2]="gameState.getPlayerBoard(1 - gameState.myID).progress"
	[startTime]="gameState.timeCoordinator.startTime"
	[gameState]="gameState"
	[phase]="gameState.matchState.phase"
></app-duel-hud-top>

@if (!isCombatSideMode()) {
  <div class="combat-top-row">
    <app-combat-notification-holder [isSide]="false" [isMine]="true">
      @for (slot of enemyPupSlots.slots; track slot.slotIndex) {
        @let cooldownEnd = slot.pendingCooldownEnd ?? slot.lastCooldownEnd;
        @if (cooldownEnd > performance.now()) {
          <app-combat-notification
            [isOutbound]="false"
            [defuseObjective]="slot.slotIndex"
            [pupSlot]="slot"
            (pupSlotClicked)="enemyPupSlots?.glowSlot($event)"
          />
        }
      }
    </app-combat-notification-holder>
    <app-combat-notification-holder [isSide]="false" [isMine]="false" >
      @for (slot of myPupSlots.slots; track slot.slotIndex) {
        @let cooldownEnd = slot.pendingCooldownEnd ?? slot.lastCooldownEnd;
        @if (cooldownEnd > performance.now()) {
          <app-combat-notification
            [isOutbound]="true"
            [defuseObjective]="slot.slotIndex"
            [pupSlot]="slot"
            (pupSlotClicked)="myPupSlots?.glowSlot($event)"
          />
        }
      }
    </app-combat-notification-holder>
  </div>
}

<!-- This contains everything in the centre, including the two boards, PUP Bars, and central buttons-->
<div class="hud-centre">
  <app-universal-progress-bar
    [percentage]="gameState.getPlayerState(gameState.myID).gameState?.pupProgress ?? 0"
    [isVertical]="true"
  />
  @if (isCombatSideMode()) {
    <app-combat-notification-holder [isSide]="true" [isMine]="true">
      @for (slot of enemyPupSlots.slots; track slot.slotIndex) {
        @let cooldownEnd = slot.pendingCooldownEnd ?? slot.lastCooldownEnd;
        @if (cooldownEnd > performance.now()) {
          <app-combat-notification
            [isOutbound]="false"
            [defuseObjective]="slot.slotIndex"
            [pupSlot]="slot"
            (pupSlotClicked)="enemyPupSlots?.glowSlot($event)"
          />
        }
      }
    </app-combat-notification-holder>
  }
  <app-board-model
    #board1
    [model]="gameState.getPlayerBoard(gameState.myID)"
    [isMe]="true"
    (sendPacket)="duelActionDispatcher.dispatch($event)"
    (selectionChanged)="onBoardSelectionChanged(0)"
  />
  <app-utility-buttons-holder
    (quitClick)="onQuit()"
    (utilityClick)="board1.onUtilityAction($event)"
    [noteModeActive]="board1.isNoteMode"
  />
  <app-board-model
    #board2
    [model]="gameState.getPlayerBoard(1 - gameState.myID)"
    [isMe]="false"
    (sendPacket)="duelActionDispatcher.dispatch($event)"
    (selectionChanged)="onBoardSelectionChanged(1)"
  />
  @if (isCombatSideMode()) {
    <app-combat-notification-holder [isSide]="true" [isMine]="false" >
      @for (slot of myPupSlots.slots; track slot.slotIndex) {
        @let cooldownEnd = slot.pendingCooldownEnd ?? slot.lastCooldownEnd;
        @if (cooldownEnd > performance.now()) {
          <app-combat-notification
            [isOutbound]="true"
            [defuseObjective]="slot.slotIndex"
            [pupSlot]="slot"
            (pupSlotClicked)="myPupSlots?.glowSlot($event)"
          />
        }
      }
    </app-combat-notification-holder>
  }
  <app-universal-progress-bar
    [percentage]="gameState.getPlayerState(1 - gameState.myID).gameState?.pupProgress ?? 0"
    [isVertical]="true"
  />
</div>

<!-- Bottom HUD -->
<div class="hud-bottom">
  <div class="my-pup">
    <app-pup-spinner
      #pupSpinner
      [pupProgress]="gameState.getPlayerState(gameState.myID).gameState?.pupProgress ?? 0"
      [canSpin]="gameState.canSpinPupSpinner"
      (roll)="duelActionDispatcher.drawPup()"
    />
    <app-pup-slots-holder
      #myPupSlots
      [slots]="gameState.getPlayerState(gameState.myID).gameState?.powerups"
      (slotClicked)="duelActionDispatcher.tryUsePUP($event)"
    />
  </div>
  <app-numeric-buttons-holder (numberClick)="board1.parseNumberKey($event)"/>
  <app-pup-slots-holder
    #enemyPupSlots
    [slots]="gameState.getPlayerState(1 - gameState.myID).gameState?.powerups"
  />
</div>
