<div class="combat-notification" [attr.data-outbound]="isOutbound">
  <div class="combat-notification-top">
    <div class="combat-notification-direction">
      {{ isOutbound ? 'OUTGOING' : 'INCOMING' }}
    </div>
    <div class="combat-notification-timer">
      {{ timerLabel }}
    </div>
  </div>

  <div class="combat-notification-bottom">
    <button
      type="button"
      class="combat-notification-icon"
      (click)="onPupClicked($event)"
    >
      <img
        class="combat-notification-pup-icon"
        [src]="pupConfig[pupSlot.pup!.type]!.asset.icon"
        alt="PUP"
      />
    </button>
    <div class="combat-notification-content">
      <div class="combat-notification-label">
        {{ pupConfig[pupSlot.pup!.type]!.name }} {{ pupSlot.pup!.level }}
      </div>
      <div class="combat-notification-objective">
        DEFUSE {{ defuseObjective == 0 ? "ROW" : defuseObjective == 1 ? "COLUMN" : "GRID" }}
      </div>
    </div>
  </div>
</div>
