:host {
  display: grid;
  place-items: center;
  width: 100%;
  height: 8vh;
}

.slots {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.slots > app-pup-slot {
  height: 100%;
  aspect-ratio: 1 / 1;
  min-width: 48px;
}
