<div class="horizontal-section">
  <app-universal-progress-bar
    [percentage]="75"
    [isVertical]="false"
  >Player A [1239]</app-universal-progress-bar>
  <app-universal-progress-bar
    [percentage]="45"
    [isVertical]="false"
    [flipDirection]="true"
  />
</div>

<div class="timer">
  <app-phase-timer
    [timeMs]="97000"
    [percentage]="20"
  />
</div>

<div class="vertical-section">
  <app-universal-progress-bar
    [percentage]="70"
    [isVertical]="true"
  />
  <app-universal-progress-bar
    [percentage]="30"
    [isVertical]="true"
  />
</div>
