@import 'themes';

/* Register --angle as an animatable custom property */
@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

/* Global resets to ensure full-viewport layouts don't scroll due to default margins */
html,
body,
app-root,
app-root > * {
  display: block;
  height: 100%;
  width: 100%;
}

body {
	margin: 0;
	font-family: 'Exo 2', sans-serif;
    background-color: var(--bg-void);
    color: var(--text-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* Landing background */
  background-image: url('/assets/background/landing.webp');
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  flex-shrink: 0; /* Prevent h1 from shrinking */
}

/* Shared button styles */
.btn {
	display: inline-block;
	padding: 1rem 1.4rem;
	font-size: 1.05rem;
	border: 3px solid #333333;
  border-radius: 8px;
	text-decoration: none;
	color: #222;
	background: #fff;
}

.btn:hover {
	border-color: #1976d2;
	color: #1976d2;
}

/* Shared cooldown overlay styles */
%cooldown-overlay-base {
  position: absolute;
  inset: 0;
  transition: --angle linear;
  pointer-events: none;
  border-radius: inherit;
}

/* Override class to disable background and particles */
.no-bg {
  background-image: none;

  app-root > ngx-particles > #tsparticles > canvas {
    display: none;
  }
}