name: Continuous Integration

on:
  push:
    branches: [master] # Lint on pushes to master (i.e. PRs)
  pull_request:
    branches: [master] # Lint on PR updates targeting master

jobs:
  comp:
    name: Compile Check
    uses: ./.github/workflows/setup.yml
    with:
      command: npm run comp

  lint:
    name: Lint
    uses: ./.github/workflows/setup.yml
    with:
      command: npm run lint

  test:
    name: Test
    uses: ./.github/workflows/setup.yml
    with:
      command: npm run test-ci
      upload-coverage: true
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
