name: 'Standardized Check'
on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string
        description: 'The npm command to run'
      upload-coverage:
        required: false
        type: boolean
        default: false
        description: 'Whether to upload coverage results'
    secrets:
      CODECOV_TOKEN:
        required: false
        description: 'Codecov token for uploading coverage'

jobs:
  run-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies reliably
        env:
          HUSKY: 0
        run: npm ci

      - name: Run Command
        run: ${{ inputs.command }}

      - name: Upload results to Codecov
        if: ${{ inputs.upload-coverage }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
